.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.1rem;

  & > span {
    font-size: 1.8rem;
  }

  & > h2 {
    font-weight: inherit;
    width: 100%;
    text-align: center;
  }
}
